<ion-header>
  <ion-toolbar>
    <ion-title>
     <ion-icon name="arrow-back" routerLink="/tabs/tab1"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="item.urlToImage" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-chip outline color="primary">
          <ion-icon name="today-outline"></ion-icon>
          <ion-label>{{item.publishedAt| date:'medium'}}</ion-label>
          <!-- <ion-icon name="close-circle"></ion-icon> -->
        </ion-chip>
      </ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
